<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MicroEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="_x00B5_Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MicroEditor.Properties.Settings>
            <setting name="Color" serializeAs="String">
                <value>WindowText</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Courier New, 12pt</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>640, 400</value>
            </setting>
            <setting name="Background" serializeAs="String">
                <value>Window</value>
            </setting>
        </MicroEditor.Properties.Settings>
        <_x00B5_Editor.Properties.Settings>
            <setting name="Color" serializeAs="String">
                <value>WindowText</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>300, 300</value>
            </setting>
        </_x00B5_Editor.Properties.Settings>
    </userSettings>
</configuration>